/* --- ESTILOS DEL PORTAL PRINCIPAL --- */
.portal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.portal-card {
    background: var(--white);
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: var(--shadow);
    cursor: pointer;
    border-top: 5px solid var(--black);
    transition: all 0.3s ease;
}

.portal-card.receptor {
    border-top: 5px solid var(--red-aranmex); /* Diferenciar a los que reciben */
}

.portal-card h3 { margin: 0 0 10px 0; font-size: 1.2rem; text-transform: uppercase; }
.portal-card p { margin: 0; font-size: 0.8rem; color: var(--text-muted); }

.portal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    background: var(--black);
    color: var(--white);
}

.portal-card:hover p { color: #ccc; }
